.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 80px !important;  
    max-height: 80px !important; 
}
.logout-button {
    margin: 3% 3%;
    width: 94%;
}